.salingBox{
  width : 90%;
  height: auto;
  margin: 0 auto;
}

.salingBox > p {
  display : inline-block;

  margin : 10px 10px 10px 0;
  font-size : 20px;
  font-weight : 600;
}

.salingBox > .count{
  color : #EC7FA9;
}
