.sidebarItem{
  text-decoration: none;
  font-size : 25px;
  padding : 10px 0;
  color : black;
}

.sidebarItemActive{
  text-decoration: none;
  font-size : 25px;
  padding : 10px 0;
  color : #ec7fa9;
  font-weight: bold;
}

.a{
  width : 100%;
  height: 100%;
}

.b{
  width : 100%;
  height : 100vh;
  display: flex;
  justify-content: center;
  box-shadow: 2px 0px 0px 0px rgba(217,217,217,0.5);
}

.Sidebar{
  width : 70%;
  display: flex;
  flex-direction : column;
  padding-top : 50px;
}

