.category_container {
    min-width: 188px;
}

.category_line {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #FEDDF0;
    line-height: 1px;
    margin: 20px 0
}

.category {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
    cursor: pointer;
}

.category_container h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.category p {
    font-size: 16px;
    font-weight: 400;
}
