@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

*{
  font-family : 'Pretendard Variable';
  font-weight : 600;
  font-size : 18px;
  color : black;
  margin : 0;
  padding: 0;
}

#root{
  width: 100vw;
  height : 100vh;
}

body{
  height : 100vh;
  width : 100vw;
  margin :0;
  overflow-x:hidden;
}

nav{
  background-color : white;
  position : fixed;
  display : flex;
  justify-content: center;
  width: 100vw;
  height: 80px;
  box-shadow : 0 5px 5px #d5d5d5;
}
