.unsubContainer{
  width : 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unsubContainer > div{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.unsubContainer h1{
  font-size : 40px;
  margin: 10px;
}

.unsubContainer p{
  font-size: 20px;
}

.buttons{
  margin: 10px;
}

.buttons > button{
  width : 220px;
  height : 40px;
  margin : 0 10px;
  border-radius: 7px;
  border: none;
  font-size : 15px;
  font-weight: bold;
  box-shadow: 0px 2px 2px 0px rgba(102,102,102,0.5);
  cursor: pointer;
}

.buttons > button[type=submit]{
  background-color : #ffc1ee;
}

.buttons > button[type='button']{
  background-color : #fed9f4;
}
